<div class = "row">
    <div class ="col-md-4 text-center"><h1>To Do</h1>
      <%= render @tasks_to_do %>
    </div>
    <div class ="col-md-4 text-center"><h1>Doing</h1>
      <%= render @tasks_doing %>
    </div>
    <div class ="col-md-4 text-center"><h1>Done</h1>
      <%= render @tasks_done %>
    </div>
</div>
<br>


<%= link_to 'New Task', new_task_path %>
