<div class = "jumbotron"> 
	<h1><i class="fa fa-fire"></i>&nbsp;Ayy Lmao</h1>
	<p>An attempt at learning to be more</p>
    <p><%= link_to "<i class = 'fa fa-sign-in'></i> Sign Up".html_safe, new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>