<div class = "jumbotron"> 
	<h1><i class="fa fa-fire"></i>&nbsp;Ayy Lmao</h1>
	<p>An attempt at learning to be more</p>
    <p><i class = "fa fa-sign-in"></i><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>